<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <form action="/productos" method="post">
          <label for="nombre">Nombre:</label>
          <input id="nombre" type="text" name="nombre" placeholder="Nombre" />
          <label for="precio">Precio:</label>
          <input id="precio" type="text" name="precio" placeholder="Precio" />
          <label for="Foto URL">Foto URL: </label>
          <input id="fotoURL" type="text" name="fotoURL" placeholder="FotoUrl"/>
          <button type="submit" class="btn btn-success">Enviar</button>
          <a class="btn btn-primary" href="http://localhost:8080/productos" role="button"
            >Ir a Productos</a
          >
        </form>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
