doctype html
html(lang='en')
  head
    meta
    title Incorporando EJS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    style.
      body {
      padding-top: 50px;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand INCORPORANDO PUG
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Home
    main
      .jumbotron
        form(action='/productos' method='post')
          label(for='nombre') Nombre:
          input#nombre(type='text' name='nombre' placeholder='Nombre')
          label(for='precio') Precio:
          input#precio(type='text' name='precio' placeholder='Precio')
          label(for='Foto URL') Foto URL: 
          input#fotoURL(type='text' name='fotoURL' placeholder='FotoUrl')
          button.btn.btn-success(type='submit') Enviar
          a.btn.btn-primary(href='http://localhost:8080/productos' role='button') Ir a Productos
    p.text-center.text-muted Copyright 2021 The Awesome People
