<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <form id="form" action="">
          <label for="name">Name:</label>
          <input id="inputName" type="text" name="name" placeholder="Name" />
          <label for="price">Price:</label>
          <input id="inputPrice" type="text" name="price" placeholder="Price" />
          <label for="Foto URL">Image:</label>
          <input
            id="inputUrl"
            type="text"
            name="urlImage"
            placeholder="Url Image"
          />
          <button class="btn btn-success">Enviar</button>
        </form>
      </div>
      <div class="jumbotron">
        <h3>Products</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Photo</th>
            </tr>
          </thead>
          <tbody id="productContainer"></tbody>
        </table>
      </div>
      <ul id="ulMessages"></ul>
      <form id="formChat" action="">
        <input
          id="inputEmail"
          autocomplete="off"
          placeholder="Enter your Email"
        />
        <input
          id="inputMessage"
          autocomplete="off"
          placeholder="Type your message"
        />
        
        <button>Send</button>
      </form>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        if (inputName.value && inputPrice.value && inputUrl.value) {
          var product = {
            name: inputName.value,
            price: inputPrice.value,
            photoUrl: inputUrl.value,
          };
          socket.emit("send products", product);
        }
      });
      socket.on("send products", (products) => {
        productContainer.innerHTML = products
          .map(
            (product) =>
              "<tr>" +
              "<td>" +
              product.name +
              "</td>" +
              "<td>" +
              "$ " +
              product.price +
              "</td>" +
              "<td>" +
              product.url +
              "</td>" +
              "</tr>"
          )
          .join("");
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
    <script>
      var messages = document.getElementById("ulMessages");
      var form = document.getElementById("formChat");
      var input = document.getElementById("input");
      var inputEmail = document.getElementById("inputEmail");

      var today = new Date();
      var date =
        today.getFullYear() +
        "/" +
        (today.getMonth() + 1) +
        "/" +
        today.getDate();
      var time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date + " " + time;

      formChat.addEventListener("submit", function (e) {
        e.preventDefault();

        if (inputMessage.value) {
          // getting the actual time of the messages
          var today = new Date();
          var date =
            today.getFullYear() +
            "/" +
            (today.getMonth() + 1) +
            "/" +
            today.getDate();
          var time =
            today.getHours() +
            ":" +
            today.getMinutes() +
            ":" +
            today.getSeconds();
          var dateTime = date + " " + time;

          // Saving message info

          var userInfo = {
            
            email: inputEmail.value,
            text: inputMessage.value,
            time: dateTime,
          };
          socket.emit("chat message", userInfo);
        }
      });

      socket.on("chat message", (messagesArr) => {

        messages.innerHTML = messagesArr
          .map(
            (msg) =>
              `<li style="display:flex"> 
                <p  style="color:blue; margin-right:5px; font-weight:bold"> ${msg.email}</p> 
                <p  style="color:brown; margin-right:10px">[ ${msg.time} ]</p>   
                <p  style="color:green; margin-right:10px; font-style:italic;">Message: ${msg.text}</p> ` +
              "</li>"
          )
          .join("");
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>
