<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron" id="loginContainer">
        <h3 style="margin-bottom: 7vh; margin-left: 1vw">Login de usuario</h3>
        <form id="loginForm" action="/loggedIn" method="POST">
          <button
            type="submit"
            class="btn btn-primary"
            style="display: block; margin-left: 1vw; width: 15vw"
          >
            Login with Facebook
          </button>
        </form>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <script src="/socket.io/socket.io.js"></script>

    <script>
       loginForm.addEventListener("submit", function (e) {
            e.preventDefault();

            // Saving message info
            // loginForm.submit();
            let redirect_Page = () => {
              window.location.href = "/auth/facebook";
            redirect_Page();
        };
        redirect_Page();
       })
      

    </script>
  </body>
</html>
