<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron text-center" style="color: rgb(39, 0, 212);">
      <h2>CERRANDO SESION . . .</h2>
      <h3><i>Por favor espere.</i></h3>
    </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <script>
        let redirect_Page = () => {
        let tID = setTimeout(function () {
            window.location.href = "/login";
            window.clearTimeout(tID);		// clear time out.
        }, 2500);
    }
    redirect_Page()
    </script>
  </body>
</html>
