<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <form id="form" action="">
          <button class="btn btn-success">
            Click To Get 5 Random Products
          </button>
        </form>
      </div>
      <div class="jumbotron">
        <h3>Products</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Photo</th>
            </tr>
          </thead>
          <tbody id="productContainer"></tbody>
        </table>
      </div>
      <ul id="headMessages"></ul>
      <ul id="ulMessages"></ul>
      <form id="formChat" action="">
        <input
          id="inputEmail"
          autocomplete="off"
          placeholder="Enter your Email"
        />
        <input
          id="inputName"
          autocomplete="off"
          placeholder="Enter your Name"
        />
        <input
          id="inputSurname"
          autocomplete="off"
          placeholder="Enter your Surname"
        />
        <input id="inputAge" autocomplete="off" placeholder="Enter your Age" />
        <input
          id="inputAlias"
          autocomplete="off"
          placeholder="Enter your Alias"
        />
        <input
          id="inputAvatar"
          autocomplete="off"
          placeholder="Enter your Avatar"
        />
        <input
          id="inputMessage"
          autocomplete="off"
          placeholder="Type your message"
        />

        <button>Send</button>
      </form>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io();

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        socket.emit("get products");
      });
      socket.on("get products", (productsArr) => {
        productContainer.innerHTML = productsArr
          .map(
            (product) =>
              "<tr>" +
              "<td>" +
              product.name +
              "</td>" +
              "<td>" +
              "$ " +
              product.price +
              "</td>" +
              "<td>" +
              product.url +
              "</td>" +
              "</tr>"
          )
          .join("");
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script>
      var messages = document.getElementById("ulMessages");
      var form = document.getElementById("formChat");
      var input = document.getElementById("input");

      var inputEmail = document.getElementById("inputEmail");

      var today = new Date();
      var date =
        today.getFullYear() +
        "/" +
        (today.getMonth() + 1) +
        "/" +
        today.getDate();
      var time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      var dateTime = date + " " + time;

      formChat.addEventListener("submit", function (e) {
        e.preventDefault();

        if (
          inputEmail.value &&
          inputName.value &&
          inputSurname.value &&
          inputAge.value &&
          inputAlias.value &&
          inputAvatar.value &&
          inputMessage.value
        ) {
          // getting the actual time of the messages
          var today = new Date();
          var date =
            today.getFullYear() +
            "/" +
            (today.getMonth() + 1) +
            "/" +
            today.getDate();
          var time =
            today.getHours() +
            ":" +
            today.getMinutes() +
            ":" +
            today.getSeconds();
          var dateTime = date + " " + time;

          // Saving message info

          var userInfo = {
            id: inputEmail.value,
            author: {
              id: inputEmail.value,
              name: inputName.value,
              surname: inputSurname.value,
              age: inputAge.value,
              alias: inputAlias.value,
              avatar: inputAvatar.value,
            },
            time: dateTime,
            comments: inputMessage.value,
          };
          socket.emit("chat message", userInfo);
        }
      });

      socket.on("chat message", (normalizedInfo) => {
        // SETTING SCHEMA

        const commentSchema = new normalizr.schema.Entity("messages");
        const schemaAutor = new normalizr.schema.Entity("author");
        const mySchema = new normalizr.schema.Array({
          author: schemaAutor,
          comments: [commentSchema],
        });
        //denormalazing

        const denormalizeChat = normalizr.denormalize(
          normalizedInfo.result,
          mySchema,
          normalizedInfo.entities
        );
        console.log(normalizedInfo);
        console.log("------------DESNORMALIZADO------------");
        console.log(denormalizeChat);
        headMessages.innerHTML =
          `<li style="display:flex">
                <li  style="color:red; margin-right:5px; font-weight:bold" > Sin Normalizar : ${JSON.stringify(denormalizeChat).length}</li>
                <li style="color:blue; margin-right:5px; font-weight:bold"> Normalizado : ${JSON.stringify(normalizedInfo).length}</li>
                <li style=" margin-right:5px; font-weight:bold"> Porcentaje de Compresión : ${(100-((JSON.stringify(normalizedInfo).length*100)/JSON.stringify(denormalizeChat).length)).toFixed(2)} %</li>
              ` + "</li>",
              
        messages.innerHTML = denormalizeChat
          .map(
            (msg) =>
              `<li style="display:flex">
                <p  style="color:blue; margin-right:5px; font-weight:bold"> ${msg.author.id}</p>
                <p  style="color:brown; margin-right:10px">[ ${msg.time} ]</p>
                <p  style="color:green; margin-right:10px; font-style:italic;">Message: ${msg.comments}</p> ` +
              "</li>"
          )
          .join("");
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
  </body>
</html>
